{% extends "layout.html" %}


{% block title %}
<title>Write Content</title>
{% endblock %}

{% block body %}
<section class="mb-4 m-3 p-3">
    <h2 class="h1-responsive font-weight-bold text-center my-4">Write COntent for Page</h2>
    <p class="text-center w-responsive mx-auto mb-5">Hello user write the content for the page</p>
    <div class="row">
        <div class="col-md-9 mb-md-0 mb-5">
            <form id="contact-form" name="sentMessage" action="/content" method="POST">
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="name" name="title" class="form-control">
                            <label for="name" class="">Your Title</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="slug" class="form-control">
                            <label for="email" class="">Your Slug</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="md-form">
                            <textarea type="text" id="message" name="content" rows="3"
                                class="form-control md-textarea"></textarea>
                            <label for="message">Your Content</label>
                        </div>
                    </div>
                </div>
                <div class="text-center text-md-left">
                    <a class="btn btn-primary" onclick="document.getElementById('contact-form').submit();">Post</a>
                </div>
                <div class="status"></div>
            </form>
        </div>
    </div>
</section>


{% endblock %}