{% extends "layout.html" %}


{% block title %}
<title>{{post.title}}</title>

{% endblock %}

{% block body %}

{{post.content}}</p>
<div class="container">
    <div class="card-group m-2 p-2">
        <div class="card m-2 p-2">
            <img class="card-img-top" src="https://source.unsplash.com/259x180/?nature,water" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card m-2 p-2">
            <img class="card-img-top" src="https://source.unsplash.com/260x180/?nature,water" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card m-2 p-2">
            <img class="card-img-top" src="https://source.unsplash.com/261x182/?nature,water" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
                    content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-center">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="/posts/python" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="/posts/python">1</a></li>
            <li class="page-item"><a class="page-link" href="/posts/java">2</a></li>
            <li class="page-item"><a class="page-link" href="/posts/python">3</a></li>
            <li class="page-item">
                <a class="page-link" href="/posts/python">Next</a>
            </li>
        </ul>
    </nav>
</div>
{% endblock %}