h1 {
    color: brown;

}

h3 {
    color: cadetblue;
}

body {
    text-align: center;
}

p {
    color: red;
}

div {
    color: royalblue;
}

div1 {
    color: seagreen;
    position: initial;
    text-align: center;
}

#survey-form {
    background-color: lightcyan;
    backface-visibility: 0.75;
    background-size: 500px;
    background-position-x: center;
    opacity: 0.75;
}