{% extends "index.html" %}

{% block title %}
<title>About</title>
{% endblock %}

{% block about %}

<section class="text-gray-700 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col text-center w-full mb-20">
            <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Our Team</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Whatever cardigan tote bag tumblr hexagon brooklyn
                asymmetrical gentrify, subway tile poke farm-to-table. Franzen you probably haven't heard of them.</p>
        </div>
        <div class="flex flex-wrap -m-2">
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                    <img alt="team"
                        class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4"
                        src="https://source.unsplash.com/collection/190727/80x80">
                    <div class="flex-grow">
                        <h2 class="text-gray-900 title-font font-medium">ABS</h2>
                        <p class="text-gray-500">UI Designer</p>
                    </div>
                </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                    <img alt="team"
                        class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4"
                        src="https://source.unsplash.com/collection/190727/80x81">
                    <div class="flex-grow">
                        <h2 class="text-gray-900 title-font font-medium">SDAFG</h2>
                        <p class="text-gray-500">CTO</p>
                    </div>
                </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                    <img alt="team"
                        class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4"
                        src="https://source.unsplash.com/collection/190727/80x82">
                    <div class="flex-grow">
                        <h2 class="text-gray-900 title-font font-medium">SDFG</h2>
                        <p class="text-gray-500">Founder</p>
                    </div>
                </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                    <img alt="team"
                        class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4"
                        src="https://source.unsplash.com/collection/190727/90x90">
                    <div class="flex-grow">
                        <h2 class="text-gray-900 title-font font-medium">SHFGH</h2>
                        <p class="text-gray-500">DevOps</p>
                    </div>
                </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                    <img alt="team"
                        class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4"
                        src="https://source.unsplash.com/collection/190727/94x94">
                    <div class="flex-grow">
                        <h2 class="text-gray-900 title-font font-medium">DFGHJ</h2>
                        <p class="text-gray-500">Software Engineer</p>
                    </div>
                </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                    <img alt="team"
                        class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4"
                        src="https://source.unsplash.com/collection/190727/98x98">
                    <div class="flex-grow">
                        <h2 class="text-gray-900 title-font font-medium">DFGHDFG</h2>
                        <p class="text-gray-500">UX Researcher</p>
                    </div>
                </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                    <img alt="team"
                        class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4"
                        src="https://source.unsplash.com/collection/190727/100x90">
                    <div class="flex-grow">
                        <h2 class="text-gray-900 title-font font-medium">DFGHDFGGFH</h2>
                        <p class="text-gray-500">QA Engineer</p>
                    </div>
                </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                    <img alt="team"
                        class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4"
                        src="https://source.unsplash.com/collection/190727/104x90">
                    <div class="flex-grow">
                        <h2 class="text-gray-900 title-font font-medium">DFGHFDGHFG</h2>
                        <p class="text-gray-500">System</p>
                    </div>
                </div>
            </div>
            <div class="p-2 lg:w-1/3 md:w-1/2 w-full">
                <div class="h-full flex items-center border-gray-200 border p-4 rounded-lg">
                    <img alt="team"
                        class="w-16 h-16 bg-gray-100 object-cover object-center flex-shrink-0 rounded-full mr-4"
                        src="https://source.unsplash.com/collection/190727/108x98">
                    <div class="flex-grow">
                        <h2 class="text-gray-900 title-font font-medium">HHGGHGH</h2>
                        <p class="text-gray-500">Product Manager</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}