{% extends "index.html" %}


{% block body %}
<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="autoplay: true">

    <ul class="uk-slideshow-items">
        <li>
            <img src="https://source.unsplash.com/1600x900/?laptop" alt="" uk-cover>
        </li>
        <li>
            <img src="https://images.unsplash.com/photo-1519162721257-18cd195350c2?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=1600"
                alt="" uk-cover>
        </li>
        <li>
            <img src="https://source.unsplash.com/1600x900/?tech" alt="" uk-cover>
        </li>
    </ul>

    <a class="uk-slidenav-large uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
        uk-slideshow-item="previous"></a>
    <a class="uk-slidenav-large uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
        uk-slideshow-item="next"></a>

</div>


<div class="uk-child-width-1-2@m" uk-grid>
    <div class="uk-padding-large">

        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow>

            <ul class="uk-slideshow-items">
                <li>
                    <img src="https://source.unsplash.com/1600x900/?tech" alt="" uk-cover>
                </li>
                <li>
                    <img src="https://source.unsplash.com/1601x900/?tech" alt="" uk-cover>
                </li>
                <li>
                    <img src="https://source.unsplash.com/1600x980/?tech" alt="" uk-cover>
                </li>
            </ul>

            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
                uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
                uk-slideshow-item="next"></a>

        </div>

    </div>

</div>
<div class="uk-child-width-1-2@m" uk-grid>
    <div class="uk-padding-large">


        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="animation: fade"
            uk-slideshow="autoplay: true">

            <ul class="uk-slideshow-items">
                <li>
                    <img src="https://source.unsplash.com/1600x900/?tech" alt="" uk-cover>
                </li>
                <li>
                    <img src="https://source.unsplash.com/1601x900/?tech" alt="" uk-cover>
                </li>
                <li>
                    <img src="https://source.unsplash.com/1600x950/?tech" alt="" uk-cover>
                </li>
            </ul>

            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
                uk-slideshow-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
                uk-slideshow-item="next"></a>

        </div>

    </div>
</div>
{% endblock %}