<!DOCTYPE html>
<html lang="en">

<head>
    <title>Website</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href={{ url_for('static', filename="css/styles.css") }}>

    <nav class="nav">
        <div class="container">
            <div class="logo">
                <a href="#">Your Logo</a>
            </div>
            <div id="mainListDiv" class="main_list">
                <ul class="navlinks">
                    
                    <style>
                </style>
                    <li><a href="#" class="mainbuttons">About</a></li>
                    <li><a href="#" class="mainbuttons">Portfolio</a></li>
                    <li><a href="#" class="mainbuttons">Services</a></li>
                    <li><a href="#" class="mainbuttons">Contact</a></li>
                </ul>
            </div>
            <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
        </div>
    </nav>

    <section class="home">
    </section>
</head>

<body>

    
    {% block content %}

    {% endblock %}



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src={{ url_for('static', filename="css/script.js") }}> </script>
</body>
</html>